@import url('https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho h1 {
    font-size: 1.5rem;
    color: #333;
}

.div-cadastros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3rem;
}

.formulario-cadastros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 1rem;
}

.formulario-cadastros button {
    width: 100%;
    padding: 0.5rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-cadastros button:hover {
    background-color: #444;
    cursor: pointer;
}

.formulario-cadastros span {
    display: flex;
    gap: 1rem;
}